@import "tailwindcss";

/* body.light {
  background-color: #ffffff;
  color: #333333;
}

body.dark {
  background-color: #111827;
  color: #f3f4f6;
}

.dark .ant-card {
  background-color: #1f2937;
  color: #f3f4f6;
  border-color: #374151;
}
.light .ant-card {
  background-color: white;
  color: black;
  border-color: #374151;
}

.dark .ant-card-head {
  border-bottom-color: #374151;
}

.dark .ant-switch-checked {
  background-color: #4f46e5;
} */
 body {
  transition: background-color 0.3s ease;
}

.dark {
  @apply bg-gray-900 text-white;
}

.light {
  @apply bg-white text-gray-900;
}

.ant-menu-dark .ant-menu-item-selected {
  @apply bg-blue-600;
}

.ant-btn-primary {
  @apply bg-blue-600 hover:bg-blue-700;
}